


.blue {
    background-color: #000324;
}
.header {
    top: 0px;
left: 0px;
max-width: 100%;
min-height: 100%;
}

h2 {
    text-align: center;
    position: relative;
    
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.hero-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/asstes/header.jpg);
    background-size: cover;
    background-position: center center;
    top: 100%;
    min-height: 500px;
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }



.content-area {
    width: 100%;
    height: 800px;
top: 60px;
}
.nav {
    padding-top: 50px;
    margin-bottom: 10px;
    
}
.drop {

}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
   
   
    display: block;
    
    

min-width: 945px;
max-height: 500px;
background-color: #000324;
opacity: 0.8;
  }
  .hatHams {
    
   padding-left: 280px ;
  width: 100%;
  height: auto;
  }
.overView {
    margin-top: 80px;
   position: centered;
   
}
.OVtxt {
    
    padding-top: 20px;
    font-size: 18px;
    position: centered;
}
.AwardsGroup{
 display: flex;
 flex-direction:row ; 
 
 
}
.roomContent{
    
    background-image: url(/asstes/bg2.jpg);
    padding-bottom: 50px;
    margin-top: 200px; 
    top: 1235px;
    left: 0px;
    width: 100%;
    height: auto;
}

.roomText{
    color: white;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.cardList{
font-size: x-small;
text-align: left;
}
.overviewParagraph{
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 20px;
    font-size: 18px;
}
.cardStyle{
    margin-left: 300px;
    
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #1A1B26;
    
}
.cardStyle2{
margin-left: 100px;
font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #1A1B26;
    opacity: 1;
    
    
}
.cardStyle3{
    font: normal normal normal 16px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #1A1B26;
    
    margin-left:25px;

}
.blank{
    list-style: none;
    color: white;
}






.packagesContent{
    margin-top: 100px;
    }
    .packagesImage{
        width: 100%;
        height: auto;
        padding: 0px;
        
    }
    .packagesText{
        margin-left: 0;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
    
    }
    .packagesTitle{
        font: normal normal normal 25px/32px Dosis;
        font-size: 25px;
        margin-top: 2rem;
    }
    .packagesCost{
        font: normal normal normal 16px/20px Source Sans Pro;
        color: #1f51a8;
    
    }
    
    
    
    
    .amenetiesContent{
    background-image: url(/asstes/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: auto;
    color: white;
    text-align: center;
    margin-top: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 200px;
    }
    .amenetiesList{
        display: inline;
        padding: 70px;
        padding-top: 50px;
        width: auto;
        height: 100%;
    }
    
    .amenetiesListWhole{
        flex-direction: row;
        margin-top: 0px;
        margin-bottom: 10%;
        height: 100%;
        width: auto;
    }
    
    
    .reserveHeader{
    
    background-color: #000324;
    color: white;
    width: 1137px;
    
    
    
    
    }
    .ReserveHeaderText{
        text-align: center;
        font: normal normal normal 35px/44px Dosis;
    }
    .reserveRow1{
        font: normal normal normal 16px/20px Source Sans Pro;
       
    }
    .reserveRow2{
        margin-right: 25px;
    }
    
    .reserveBoxes{
    
    width: 177px;
    height: 38px;
    background: #EBEDFC 0% 0% no-repeat padding-box;
    border: 1px solid #7A90D9;
    
    }
    .reserveBoxesAvailability{
      
    left: 1256px;
    width: 177px;
    height: 38px;
    background: #006EDB 0% 0% no-repeat padding-box;
    border: 1px solid #000DC7;
    font: normal normal bold 20px/25px Source Sans Pro;
    
    }
    
    .HamsterReserveImage{
    
    
    width: 1137px;
    height: 480px;
    margin-bottom: 200px;
    margin-left: 200px;
    }
    
       
    
    .center{
        margin-left: 20px;
        align-items: flex-end;
    }
    

    
    .footer{
        background-color: #000324 ;
        width: 100%;
        color: white;
        text-align: center;
        padding-bottom: 80px;
        
    }



